/*
&dtrif
&check
&cross
 */


/***************
Document Palette
Header: #FFFFFF
Body: #F6F9FA
Selected Button: #12AAF6
Editorial: #4CA6E7
Q1 goals: #9E60DC
Recruiting: #62C3AC
Mobile: #FF9B00
Website: #DA569B
Sales: #ACD045
****************/



/***************
Reset Rules
****************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************
Common Rules
****************/

body {
    background-color: #F6F9FA;
}

header {
    background-color: #FFFFFF;
    padding: 10px;
}

.header-logo {
    height: 50px;
}

main {
    margin: auto;
    width: 60%;

}

.button-container {
    margin-top: 40px;
    padding: 10px 40px;
    border-radius: 16px 16px 0 0;
    background-color: #FFFFFF;
}

.button {
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: lightgray;
    border-width: 0.2px;
    padding: 5px 8px;
    cursor: pointer;
}

.pressed {
    background-color: #6bb9f1;
    color: #FFFFFF;
}

.todo-container {
    background-color: #FFFFFF;
    border-radius: 0 0 16px 16px;
    padding: 20px 40px;
    margin-top: 1px;
}

.todo-section {
    margin-bottom: 25px;
}

.todo-body {
    margin-top: 10px;

    p {
        display: inline-block;
        margin-right: 5px;
    }

}

.icon {
    border: solid;
    border-radius: 50%;
    padding: 2px 3px;
    width: 25px;
    height: 25px;
    text-align: center;
}

.tick {
    color: #58c248;
}

.cross {
    color: red;
}

.label {
    border-radius: 20px;
    color: #FFFFFF;
    background-color: black;
    font-size: 12px;
    padding: 5px 10px;
}

.editorial {
    background-color: #4CA6E7;
}

.q1-goals {
    background-color: #9E60DC;
}

.recruiting {
    background-color: #62C3AC;
}

.mobile {
    background-color: #FF9B00;
}

.website {
    background-color: #DA569B;
}

.sales {
    background-color: #ACD045;
}